.album-container {
    background-color: #fef7a8;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 5%;
    padding-right: 5%;
}
.album-info,
.album-tracks {
    display: inline-block;
    vertical-align: middle;
}

.album-info {
    font-family: sans-serif;
}

.album-tracks {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
}

.album-tracks li {
    margin-bottom: 3px;
    text-align: right;
}

.album-tracks li:last-child {
    margin-bottom: 0;
}

.album-tracks span {
    font-size: 18px;
    word-spacing: 5px;
}

.album-tracks li > span:first-child {
    margin-right: 10px;
}
