.profile-container {
    grid-area: menu;
    position: relative;
}

#profile-name {
    position: absolute;
    margin-top: 150px;
    left: 0px;
    background-color: rgba(0, 126, 255, 0.18);
    width: 200px;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    line-height: 30px;
}
