body {
    background-color: #f0f0f0;
}

.page-container {
    font-family: serif;
    font-size: 18px;
    margin: 0 auto;
    padding: 0;
    width: 940px;
}

.page-content {
    margin-top: 40px;
}

.page-content h1 {
    color: #FF5A5F;
    font-family: serif;
}

.page-content p {
    color: #404040;
    font-family: sans-serif;
}

@media only screen and (min-width: 768px) {
    .page-content {
        padding: 0 40px 40px 40px;
    }
}

@media only screen and (max-width: 600px) {
    body {
        margin: 0 auto;
        width: 100%;
        clear: both;
    }

    .page-container {
        width: 97%;
        border: 0;
    }

    .page-content {
        margin-top: 0;
        font-size: 14px;
    }

}
